:root {
  --background-color: rgb(26, 26, 26);
  --text-color: white;
  --link-color: #543fd7;
  --content-background-color: rgb(160, 132, 97);
  --content-border-color: rgb(97, 81, 60);
}

.light-mode {
  --background-color: rgb(245, 245, 245);
  --text-color: rgb(26, 26, 26);
  --link-color: #543fd7;
  --content-background-color: rgb(233, 208, 176);  
  --content-border-color: rgb(160, 126, 81);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  /* display: flex; */
  text-align: center;
}

.wrapper > * {
  padding: 30px;
  margin: 10px;
  background-color: var(--content-background-color);
  /* flex: 1 1 10em;
  flex-wrap: wrap; */
}

.header {
  font-size: 50px;
  background-color: var(--content-background-color);
  border-color: var(--content-border-color);
  border-bottom-style: solid;
  border-top-left-radius: 40px;
  border-width: 15px;

}

.footer {
  order: 2;
  height: 50px;
}

.description {
  height: 100px;
}

.projects {
  display: flex;
}

.projects > * {
  flex: 1 1 10em;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  border-style: dotted;
  border-radius: 10px;
  border-color: var(--content-border-color);
}


.light-mode-button {
  border: none;
  background-color: var(--content-border-color);
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.light-mode-button:hover {
  background-color: rgb(255, 251, 0);
  color: black;
}
