/* :root {
  --background-color: #02111b;
  --text-color: #fcfcfc;
  --link-color: #5d737e;
  --content-background-color: #3f4045;
  --content-border-color: #30292f;
} */

/* :root {
  --background-color: #e6efe9;
  --text-color: #8f8389;
  --link-color: #c5f4e0;
  --content-background-color: #a7c4a0;
  --content-border-color: #c2eaba;
} */

/* :root {
  --background-color: #50514f;
  --text-color: #fdfff7;
  --link-color: #ffed65;
  --content-background-color: #b4adea;
  --content-border-color: #59ffa0;
} */

/* :root {
  --background-color: #717568;
  --text-color: #f0f0f0;
  --link-color: #f1bf98;
  --content-background-color: #3f4739;
  --content-border-color: #e1f4cb;
} */

:root {
  --background-color: #000000;
  --text-color: #f4f4f9;
  --link-color: #b8dbd9;
  --content-background-color: #2f4550;
  --content-border-color: #586f7c;
}

.light-mode {
  --background-color: rgb(245, 245, 245);
  --text-color: rgb(26, 26, 26);
  --link-color: #543fd7;
  --content-background-color: rgb(233, 208, 176);  
  --content-border-color: rgb(160, 126, 81);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
  display: flex;
  text-align: center;  
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper > * {
  padding: 30px;
  margin: 10px;
  background-color: var(--content-background-color);
  /* flex: 1 1 10em;
  flex-wrap: wrap; */
  
}

.header {
  font-size: 50px;
  background-color: var(--content-background-color);
  border-color: var(--content-border-color);
  border-bottom-style: solid;
  border-top-left-radius: 40px;
  border-width: 15px;

}

.projects {
  display: flex;
  background-color: transparent;
  padding: 0px;
  flex-wrap: wrap;
}

.projects > * {
  flex: 1 1 5em;
  padding: 0px;
  margin: 5px 5px;
  border-style: dotted;
  border-radius: 10px;
  border-color: var(--content-border-color);
  background-color: var(--content-background-color);
}

.project-item-link {
  background-color: var(--content-background-color);
}

.project-item-link:hover {
  background-color: var(--content-border-color);
}

.light-mode-button {
  border: none;
  background-color: var(--link-color);
  color: var(--text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}

.light-mode-button:hover {
  background-color: var(--content-border-color);
  color: var(--text-color);
}
