<h2>Contact</h2>
    <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
        <p>
          <label><input type="text" name="name" placeholder="Your Name"/></label>   
        </p>
        <p>
          <label><input type="email" name="email" placeholder="E-mail"/></label>
        </p>
        <p>
          <label><textarea name="message" placeholder="What's on your mind?"></textarea></label>
        </p>
        <div data-netlify-recaptcha="true"></div>
        <p>
          <button type="submit">Send</button>
        </p>
      </form>