{{ define "main" }}

<main>
    <div class="block introduction">
        <div class="column left">
            <img src="images/404.png" class="portrait" alt="Portrait" />
        </div>
        <div class="column right">
            <h1>404</h1>
            <h2>Page not found</h2>
            <p>Looks like you've followed a broken link or entered a URL that doesn't exist on this site.</p>
            <p>Please return to the front page <a href="./">here</a></p>

            <div class="links">
                {{- range .Site.Params.links -}}
                    <a rel="me" href="{{ .url | safeURL }}" title="{{ .title }}">
                        <span class="{{ .iconset | default "fab" }} {{.iconorigin | default "fa" }}-{{ .icon }}"></span>
                    </a>
                {{- end -}}
            </div>
        </div>
    </div>

</main>

{{ end }}
